

#alert
{
    z-index: 999;
    width: 100%;
    text-align: center;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 0;
    color: #000;
    font: 20px/40px arial, sans-serif;
    opacity: .9;
}

#body{
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #DDD;
    line-height: 120%;
}

#header {
    width: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    background-color: #F7F7F7;
    border: 1px solid #DDD;
    line-height: 30%;
}

#content{
    position: relative;
    margin: 0 10px 0 0;
    padding: 20px 20px 0 5px;
    text-align: left;
    font-size: 77%;
    min-height: 500px;
}


section #code {
    border: #1c94c4 dashed 1px;
    background-color: #aaaaaa;
    color: white;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}

section #description {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

